<div class="container">
  <div class="row">
      <nav class="navbar navbar-expand-xl ">
          <img src="../../assets/img/logo.svg" height="70" class="d-inline-block align-top" alt="Native Design Studio">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Apresentação <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Serviços</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Projetos / Portfólio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Depoimentos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link btn-primary" href="#">Contato</a>
                </li>
            </ul>
          </div>
        </nav>
  </div>
</div>
