.navbar {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  padding: .5rem 1rem;
  width: 100%;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: baseline;
  justify-content: flex-end;
}
