
<app-header-topbar></app-header-topbar>

<app-slider-master></app-slider-master>

<app-services></app-services>

<app-projetos></app-projetos>

<app-form-contato></app-form-contato>

<footer class="container">
  <div class="row">
    <div class="col-6">
      <p>Rua Imperatris, 608 <br>
      Recife-PE, 53000-000<br><br>
      (81) 8888.8888</p>
    </div>
    <div class="col-6 midia">
      <p>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook-square"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </p>
    </div>
    <div class="col-12 mt-5">&copy; Native. 2019 | <a href="#">Política de Privacidade</a></div>

  </div>
</footer>

<router-outlet></router-outlet>
