

  <section class="container">
      <h2 class="text-center display-4 mt-5 mb-5">Projetos / Portifólio</h2>
    <div class="row">
      <div class="card col-xl-4 col-sm mb-4" *ngFor="let projeto of projetos" (click)="detalhe(projeto, projetoModal)">
        <img class="card-img-top" src="{{ projeto.imagem }}" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">{{ projeto.nome }}</h5>
          <p class="card-text">{{ projeto.descricao }}</p>
        </div>
      </div>
    </div>
  </section>


    <ng-template #projetoModal let-c="close" let-d="dismiss">
      <div class="modal-header">

        <h4 class="modal-title">{{ projeto.nome }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <img src="{{ projeto.imagem }}" width="450" alt="" class="text-center">
        <p>{{ projeto.descricao }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fechar</button>
      </div>
    </ng-template>


