<section class="container">
  <h2 class="text-center display-4 mt-4">Serviços</h2>
  <div class="row">
    <div id="box">
      <div class="service-item col-sm">
        <img src="../../assets/img/iconfinder_Branding_1016077.svg" width="115" alt="">
        <h3>Lore ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quis molestias deleniti dignissimos aliquid repellat. </p>
      </div>
      <div class="service-item col-sm">
          <img src="../../assets/img/iconfinder_Web_Development_1016080.svg" width="115" alt="">
        <h3>Lore ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quis molestias deleniti dignissimos aliquid repellat. </p>
      </div>
      <div class="service-item col-sm">
        <img src="../../assets/img/iconfinder_App_Development_1016076.svg" width="115" alt="">
        <h3>Lore ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quis molestias deleniti dignissimos aliquid repellat. </p>
      </div>
      <div class="service-item col-sm">
        <img src="../../assets/img/iconfinder_Web_Design_1016081.svg" width="115" alt="">
        <h3>Lore ipsum</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quis molestias deleniti dignissimos aliquid repellat. </p>
      </div>
    </div>
  </div>

</section>
